<div class="row">
	<div class="section text">
		<span class="icon">
		<i class="fa fa-lg"></i>
		</span>
		<span class="name">
		{{details.name}}
		</span>
	</div>
	<div class="section text">
		{{details.owner}}
	</div>
	<div class="section text">
		{{details.time}}
	</div>
	<div class="section text">
		{{details.status}}
	</div>

	<div ng-repeat="box in details.boxes" class="section calc">
		<box color="{{box.color}}" percent="{{box.percent}}" ></box>
	</div>
	
	<div class="tiles">
		<div class="metrics tile red">
			<img src="app/img/metrics.jpg" width="100%" height="100%" alt="" />			
		</div>
		<div class="build tile green">
			<img src="app/img/build.jpg" width="100%" height="100%" alt="" />	
		</div>
		<div class="unit tile green">
			<img src="app/img/unit.jpg" width="100%" height="100%" alt="" />	
		</div>
		<div class="functional tile green">
			<img src="app/img/functional.jpg" width="100%" height="100%" alt="" />	
		</div>
	</div>
</div>