<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Mock App</title>
    <meta name="description" content="">
    
    <!--SCRIPTS-->
    <link href='app/css/app.less' rel="stylesheet/less" type='text/css'>
    <link rel="stylesheet" href="app/lib/font-awesome/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700'
      rel='stylesheet' type='text/css'>
    <script src="<%= js %>"></script>
      
      
    </head>
    <body>
      <div ui-view="" class="main-content-wrapper"></div>
    </body>
  </html>